@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 5px 10px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow-nn {
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
  }
  .text-shadow-bb {
    text-shadow: white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px;
  }
  .modal-shadow {
    box-shadow: 0px 0px 0px 1000px rgb(0, 0, 0, 0.5), 0px 0px 25px black;
  }
  .neumorphismbloc {
    box-shadow: inset -3px -3px 7px #ffffff73,
      inset 3px 3px 5px rgba(18, 18, 19, 0.288);
  }
  .neumorphismfield {
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .neumorphismbutton {
    border-radius: 25px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(18, 18, 19, 0.288);
  }
  .title {
    @apply font-lexend font-bold text-base px-6 py-3 sm:text-lg tracking-[0.2rem] uppercase border-[1px] rounded border-tertiary text-tertiary bg-primary bg-opacity-80 dark:text-primary dark:bg-secondary dark:bg-opacity-80 dark:border-primary;
  }
  .landingBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /62%) 0%,
        rgb(25 25 25 /60%) 100%
      ),
      url(/assets/backgrounds/bg-landing-black.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .landingWhite {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /62%) 0%,
        rgb(25 25 25 /60%) 100%
      ),
      url(/assets/backgrounds/bg-landing-white.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homeBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /35%) 0%,
        rgb(25 25 25 /25%) 100%
      ),
      url(/assets/backgrounds/bg-home-black.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .homeWhite {
    background: linear-gradient(
        180deg,
        rgb(240 240 240 /30%) 0%,
        rgb(245 245 245 /20%) 100%
      ),
      url(/assets/backgrounds/bg-home-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aboutMeBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /35%) 0%,
        rgb(25 25 25 /25%) 100%
      ),
      url(/assets/backgrounds/bg-aboutme-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .aboutMeWhite {
    background: linear-gradient(
        180deg,
        rgb(240 240 240 /30%) 0%,
        rgb(245 245 245 /20%) 100%
      ),
      url(/assets/backgrounds/bg-aboutme-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skillsBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /35%) 0%,
        rgb(25 25 25 /25%) 100%
      ),
      url(/assets/backgrounds/bg-skills-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .skillsWhite {
    background: linear-gradient(
        180deg,
        rgb(240 240 240 /30%) 0%,
        rgb(245 245 245 /20%) 100%
      ),
      url(/assets/backgrounds/bg-skills-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolioBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /35%) 0%,
        rgb(25 25 25 /25%) 100%
      ),
      url(/assets/backgrounds/bg-portfolio-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .portfolioWhite {
    background: linear-gradient(
        180deg,
        rgb(240 240 240 /30%) 0%,
        rgb(245 245 245 /20%) 100%
      ),
      url(/assets/backgrounds/bg-portfolio-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contactBlack {
    background: linear-gradient(
        180deg,
        rgb(28 28 28 /35%) 0%,
        rgb(25 25 25 /25%) 100%
      ),
      url(/assets/backgrounds/bg-contact-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contactWhite {
    background: linear-gradient(
        180deg,
        rgb(240 240 240 /30%) 0%,
        rgb(245 245 245 /20%) 100%
      ),
      url(/assets/backgrounds/bg-contact-white.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  --swiper-navigation-size: 20px;
  color: white;
}
