@font-face {
  font-family: "Montserrat";
  src: local("Monserrat"),
    url("./assets/fonts/Monserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("./assets/fonts/Raleway-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Galactic Basic";
  src: local("Galactic Basic"), url("./assets/fonts/galbasic.ttf") format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 5px 10px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
  .text-shadow-b {
    text-shadow: 4px 3px 4px black;
  }
  .text-shadow-w {
    text-shadow: 4px 3px 4px silver;
  }
  .title {
    @apply font-montserrat w-44 text-base sm:w-52 h-14 text-shadow-b sm:text-lg tracking-[0.2rem] uppercase border-2 rounded border-tertiary text-tertiary bg-primary bg-opacity-80 dark:text-primary dark:bg-secondary dark:bg-opacity-80 dark:border-primary;
  }
  .landingBlack {
    @apply bg-no-repeat bg-cover bg-landingBlack;
  }
  .landingWhite {
    @apply bg-no-repeat bg-cover bg-landingWhite;
  }
  .homeBlack {
    @apply bg-no-repeat bg-cover bg-homeBlack;
  }
  .homeWhite {
    @apply bg-no-repeat bg-cover bg-homeWhite;
  }
  .aboutMeBlack {
    @apply h-full bg-[#3C3C3C] bg-no-repeat bg-cover bg-aboutMeBlack;
  }
  .aboutMeWhite {
    @apply bg-no-repeat bg-cover bg-aboutMeWhite;
  }
  .skillsBlack {
    @apply h-full bg-[#040404] bg-no-repeat bg-auto sm:bg-cover bg-skillsBlack;
  }
  .skillsWhite {
    @apply bg-no-repeat bg-cover bg-skillsWhite;
  }
  .portfolioBlack {
    @apply bg-no-repeat bg-cover bg-portfolioBlack;
  }
  .portfolioWhite {
    @apply bg-no-repeat bg-cover bg-portfolioWhite;
  }
  .contactBlack {
    @apply h-full bg-[#040404] bg-no-repeat bg-auto sm:bg-cover bg-contactBlack;
  }
  .contactWhite {
    @apply bg-no-repeat bg-cover bg-contactWhite;
  }
}
